@font-face { 
    font-family: GandhiSans; 
    src: url('fuentes/TipografiaGandhi/GandhiSans-Regular.otf'); 
}

@font-face { 
    font-family: GandhiSans; 
    font-weight: bold;
    src: url('fuentes/TipografiaGandhi/GandhiSans-Bold.otf'); 
}
@font-face { 
    font-family: Futura; 
    src: url('fuentes/Futura/FuturaStd-Book.otf'); 
}

@font-face { 
    font-family: Futura; 
    font-weight: bold;
    src: url('fuentes/Futura/FuturaStd-Bold.otf'); 
}


body{
    background-color: #000000;
    font-family: GandhiSans;
    color:white;
    display: flex;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    
}

h1,h2,h3{
    font-family: Futura !important
}

h1{
    font-size: 40px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color:inherit;
}

.fondo_rosa{
    background-color: #ff3fb4;
}

#about{
    width: 32vw;
    max-width: 440px;
    position: absolute;
    bottom: 9vh;
    left: 5vw;
}

#fondo{
    opacity: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/img/EscarabajoRosa.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    transition: 5s;
    border-top: 0px solid;
    border-right: 0px solid;
    border-color: #ff3fb4;
    box-sizing: border-box;
    background-size: 70% auto;
}

#menu{
    width:50vw;
    height: 100%;
    position: relative;
    left:0vw;
    background-image: url('/img/MiJeta.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    flex-shrink: 0;
}

